.product-car {
  position: relative;
  overflow: hidden;
  padding: 26px;
}

.product-container {
  padding: 0 10px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
  padding: 20px 16px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  border-radius: 10px;
}
.pre-btn {
  left: 20px;
  top: 45%;
}
.next-btn {
  right: 20px;
  top: 45%;
}

.pre-btn,
.next-btn {
  text-align: center;
}
